@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --lwhite: #fff;
  --semitransparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --ldark: #2a2626;
  --semitransparent-dark: #908d8b;
  --lbrown: #b09a81;
  --lblue: #1085c5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--ldark);
}

h1,
h2,
h3 {
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  color: var(--lwhite);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

main {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

header {
  background: var(--primary);
  margin: 0;
}

.text-bold {
  font-weight: bold;
}

.pl-10 {
  padding-left: 10%;
}

.pr-10 {
  padding-right: 10%;
}

.mt-350 {
  margin-top: 350px;
}

.mt-inf {
  margin-top: 1024px;
}

.header::before {
  content: url("../images/background.png");
  position: absolute;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  position: relative;
  opacity: 0.9;
  background: var(--light);
}

.header-content-header {
  padding-top: 150px;
}

.header-content-image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.header-content-text {
  position: relative;
  column-count: 2;
  column-gap: 30px;
}

.header-content-link {
  padding: 24px 12px;
  font-weight: bold;
  position: absolute;
  width: 101px;
  height: 26px;
  top: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--lwhite);
  background: var(--primary);
}

.column-link {
  position: relative;
}

.color-primary {
  color: var(--primary);
}
